.think {
  border-left: 1px solid $border;
  padding-left: 15px;
  color: $think;
  font-size: 14px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
  width: 60vw;
  text-align: center;
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ddd;
  }

  &::before {
    margin-right: 0.75em;
  }

  &::after {
    margin-left: 0.75em;
  }
}

.toolcall {
  width: 100%;
}
