.think {
  border-left: 1px solid $border;
  padding-left: 15px;
  color: $think;
  font-size: 14px;
}

.system-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent !important;
}

.system-avatar {
  display: none;
}
