:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  cursor: default;
}

*::-webkit-scrollbar {
  display: none;
}

.app-container {
  -webkit-app-region: drag;
  user-select: none;
  border-radius: $border-radius-large;
  background-color: $bg-primary;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  cursor: grab;
  overflow: hidden;
}

.app-loading {
  height: 100%;
  width: 100%;
}

.ant-modal-mask {
  border-radius: $border-radius-large;
  overflow: hidden;
}
