.active {
  background-color: #e4edff;
  border: 1px solid #76a3ff;
  color: $primary-dark;
  &:hover {
    background-color: #e4edff !important;
  }
}

.action-button {
  padding: 0 10px;
}

.conversation-drawer {
  background-color: $primary-bg;
}